<div id="abeyance">
    <h1>Abeyance</h1>
    
    <div class="description-left">
        <div class="inner">
            <p>Abeyance is a J-style RPG I started a long time ago and intend to finish it.</p>
            <p>You take control of a man named "<span class="highlight">Keats</span>" who lives in an Orwellian dystopia. Except Keats suffers from a number of delusions and is gradually finding reality and dream blending.</p>
            <p>The project was originally started in <span class="highlight">Dark Basic Professional</span> and the first demo was made. A <span class="highlight">Unity3D</span> demo followed, but now, it is back in development.</p>
            
        </div>
        
    </div>
    
    
    <div class="description-left">
        <div class="inner">
            <p>It will be developed in Unity3D again. But it will be taking advantage of a few things available from the asset store.</p>
            <p>This will include media and ORK as well as a map editor.</p>
            
            
            
        </div>
        
    </div>
    
    
    <h2>Game Play</h2>
    <div class="description-left">
        <div class="inner">
            <p>The gameplay is based on a turn-based RPG battle system. It was built out of my aspiration to make such an RPG. However, I have introduced a problem solving aspect to it.</p>
            <p>Throughout areas you will find clues to get out. These may be clues on how to defeat the boss, or to open a door. Some will be complicated and may even need a pen and paper.</p>
            <p>For instance, the original demo enticed you to learn a bit of Old Norse to find the boss's weakness.</p>
            
            
        </div>
        
    </div>
    
    <div class="description-left">
        <div class="inner">
            <p>To accomodate for this, some fights may prove to be challenging. As I wish for the player to focus on tactics and not grinding levels and learning overpowered skills. This is why it is a turn-based RPG, to allow the player to consider their moves wisely. I may look to some inspiration from XCOM here.</p>
        </div>
        
    </div>
    
    <div class="description-left">
        <div class="inner">
            <h4>Thresholds</h4>
            <p>Most RPG's will have elements. We have Thresholds.</p>
            <li class="green">Curse</li>
            <li class="red">Blood</li>
            <li class="yellow">Frantic</li>
            <li class="blue">Nerve</li>
            <li class="purple">Fear</li>
            <li class="grey">Empowerment</li>
            <li>Lucid</li>
            <p>They will not just work like elements do, they will also provide other benefits to you. For example, <span class="red">Blood</span> will make you stronger. </p>
        </div>
        
    </div>
    
    <div class="description-left">
        <div class="inner">
            <h4>More about Thresholds</h4>
            <p>As the game is focused around the mental state of Keats, he will be able to maintain his own Threshold.</p>
            <p>As the player, you will be able to change Keats' threshold to "<span class="blue">Nerve</span>" and get a boost to <span class="blue">Nerve</span> attacks, an advantage to <span class="green">Curse</span> ones and a disadvantage to <span class="yellow">Frantic</span> ones. But also get an accuracy boost.</p>
            
        </div>
        
    </div>
    
    <h2>Screenshots & videos</h2>
    
    <div class="description-left">
        <div class="inner">
                
            <img src="http://i.imgur.com/XJzwbOb.png"></img>
            
        </div>
        
    </div>
    
    
    <div class="description-left">
        <div class="inner">
            <h4>This is currently from the old version</h4>    
            <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/ICq5gXP4sgc?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
            
        </div>
        
    </div>
    
    
    
    
</div>