        <div id="mummers">
            <h1>A Mummer's Tale</h1>
            <div class="description-left">
                <div class="inner">
                    <p>"<span class="highlight">A Mummer's Tale</span>" is a Role Playing Game, reminiscent of the classics. It takes the cliche of heroes and villains, of a world heading into despair.</p>
                    <p>Yet, it is neither heroes nor villains that we follow. We start out with a mummer, by the name of Asorai. A girl who was destined to be in the family's spice trade ended up leaving home for new pastures. She felt herself deeply interested in the stories of legend and became a mummer.</p>
                </div>
            </div>
            
            <div class="description-left">
                
                <div class="inner">
                    <img src="http://i.imgur.com/CLp3nRI.png">    
                </div>
            </div>
            <h2>Characters</h2>
            <div class="description-left">
                
                <div class="inner">
                    <h4>Asorai</h4>
                    <p>A young lady with a talent for words and music. Whilst not proficient at all, she dreams to one day join a group of travelling minstrels. To her friends and neighbours, she is known as <span class="highlight">The Mummer</span>.</p>
                    <p>She is originally from the east, she left the family business in the spice trade, to follow her own dreams.</p>
                </div>
            </div>
            
            <div class="description-left">
                
                <div class="inner">
                    <h4>Marcus</h4>
                    <p>A young gentleman who is always found somewhere with his head in a book. Stories of magic, stories of dragons and warlords. Stories of love, stories of tyranny. And sometimes an enyclopedia or two. Even 100 succulent recipes for Geese. </p>
                    <p> From the town of Angasford, he lived with his parents and they goaded him into a life working in trade. He followed on the path they set for him and finds himself reading late into the night. </p>
                </div>
            </div>
            
            <div class="description-left">
                
                <div class="inner">
                    <h4>Sutara Pashu</h4>
                    <p>She works for the grocer. Her family, like Asrai's also came from the east. She is very shy and quiet. An introvert, verging on the anxious. Responds well to kindness and will respond with further kindness.</p>
                    <p>She is unemployed, but is often found exploring.</p>
                </div>
            </div>
            
            <div class="description-left">
                
                <div class="inner">
                    <h4>Helsa Helskar</h4>
                    <p>A young woman from the North. Her father is an engineer and has found good money doing so, to provide for his family. Helsa learned to love her dad's art from a young age. A true gear-head, covered in grease. And an attitude to go with it. </p>
                    
                </div>
            </div>
            <h2>Game Play</h2>
            
            <div class="description-left">
                
                <div class="inner">
                    <h4>Classic J-RPG Battles</h4>
                    <p>This game is built off of Smile Game Builder: RPG Edition. So it's pretty clear what kind of battle system the game will have. But...it's actually only a small part to the game. Because the game's focus is not to fight. You are not the heroes in this game.</p>
                </div>
            </div>
            
            
            <div class="description-left">
                
                <div class="inner">
                    <h4>Character Based</h4>
                    <p>The goals are more around each individual characters' achievements and how they grow. Events in the world will unfold with time and it will affect how the game is played and the direction you take with your characters.</p>
                    <p>And in it, relationships are important. You will be able to build a character relationship with people you encounter. Be acquaintances, friends, or something more.</p>
                    <p>But in the end, the characters are important. </p>
                </div>
            </div>
            
            <div class="description-left">
                
                <div class="inner">
                    <h4>Jobs</h4>
                    <li>Vagrant</li>
                    <li>Singer</li>
                    <li>Bard</li>
                    <li>Dancer</li>
                    <li>Librarian</li>
                    <li>Arcanist</li>
                    <li>Storyteller</li>
                    <li>Butcher</li>
                    <li>Baker</li>
                    <li>Chef</li>
                    <li>Merchant</li>
                    <li>Banker</li>
                    <li>Guard</li>
                    <li>Officer</li>
                    <li>Engineer</li>
                    <li>Scientist</li>
                </div>
            </div>
            
            <div class="description-left">
                
                <div class="inner">
                    <h4>Video</h4>
                    <!--<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/UOyvBYGZXaQ?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>-->
                </div>
            </div>
            
        </div>