<div id="news">
            <h2>News</h2>
            
            
            
            
            
            <div class="article">
                <h3>Website Up and Running</h3>
                
                <p>Welcome to the new up-to-date and revamped Seppuku Arts website after...how many years?</p>
                <p>The new site utilises some good old AngularJS and my new fangled HTML & CSS skills. It's still very much a work in progress.</p>
                <p>Like, there's no about page! Why would I be so deceptive to keep a link up there!?</p>
                <p>Anyway, I have gotten back to my game making binge. It has been years since I've tried to work on anything. So say hello to my projects <span class="red">Abeyance</span> and <span class="red">A Mummer's Tale</span>, which is a working title. Abeyance is my old classic, I had the idea for years ago, which I have never been able to get fully off the ground, but that'll change now. And A Mummer's Tale is a more recent idea for a project, inspired by a number of bedroom coded RPG's.</p>
                
            </div>
</div>