<div id="news">
            <h2>News</h2>
            
            
            <div class="article">
                <h3>A Mummer's Tale Started</h3>
                
                <p>I have started work on this game. </p>
                
            </div>
            
            
            <div class="article">
                <h3>Website Up and Running</h3>
                
                <p>The Website is now up and running. It's only a temporary placeholder at this time, to work out the rest.</p>
                
            </div>
</div>